{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-Plastic Management System </title>
	<link rel="stylesheet" href="{% static '/css/stylesheet.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
</head>
<body>

	<div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="{% url 'home' %}"><img src="{% static 'image/logo.png' %}" width="55px"></a>
			</div>
			<nav>
				<ul id="MenuItems">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'aboutus' %}">About</a></li>
				<li><a href="{% url 'product:products' %}">Products</a></li>

				{% if user.is_authenticated %}
					<li><a href="{% url 'product:newproduct' %}">Sell</a></li>
				{% else %}
					<li><a href="{% url 'account:login' %}">Sell</a></li>
				{% endif %}
				<li><a href="{% url 'contactus' %}">Contact Us</a></li>

				{%  if user.is_authenticated %}
					<li>Welcome, 
						<a href="{% url 'userprofilecreate'  %}">{{user.username}}</a>
					</li>
					<li><a href="{% url 'account:logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'account:login' %}">Login</a></li>
				{% endif %}
				</ul>
			</nav>
			<a href="{% url 'cart:cart' %}"><img src="{% static 'image/cart.png' %}" width="30px" height="30px"></a>
			<img src="{% static 'image/menu.png' %}" class="menu-icon" onclick="menutoggle()">
			
		</div>
		
    </div>
	
<!---------------------------------------------------------------------------------------------------------------->

{% block content %}


{% endblock %}





<!------------------------------------------------------------------------------------------------------------------------->


<div class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-col-1">
				<h3><a href="https://www.ecosia.org/?c=en"><img src="{% static 'image/ecosia-logo.png' %}" style="width:50px;"></a></h3>
				<p>Download the app for Android.</p>
				<div class="app-logo">
					<a href="https://play.google.com/store/apps/details?id=com.ecosia.android"><img src="{% static 'image/play-store.png' %}"></a>
					<a href="https://apps.apple.com/us/app/ecosia/id670881887"><img src="{% static 'image/app-store.png' %}"></a>
				</div>
			</div>
			<div class="footer-col-2">
				<img src="{% static 'image/logo.png' %}"><h4 style="color:white;">E-Plastic</h4>
				<p>Our purpose is to  manage plastic waste by means of <br> recyclying and reusing plastic and avoid pollution.</p>
			</div>
			<div class="footer-col-3">
				<h3>Awareness Links</h3>
				<ul>
					<li><a href="https://www.unenvironment.org/interactive/beat-plastic-pollution/">unenvironment</a></li>
					<li><a href="http://onemoregeneration.org/2011/10/22/ska-academy-of-art-and-designs-plastic-awareness-program/">onemoregeneration</a></li>
					<li><a href="https://tunza.eco-generation.org/ambassadorReportView.jsp?viewID=48258">Tunza Eco Generation</a></li>
					<li><a href="https://www.nrdc.org/stories/10-ways-reduce-plastic-pollution">nrdc</a></li>
				</ul>
			</div>
			<div class="footer-col-4">
				<h3>Follow Us</h1>
				<ul>
					<li><a href="https://www.facebook.com/">Facebook</a></li>
					<li><a href="https://twitter.com/?lang=en">Twitter</a></li>
					<li><a href="https://www.instagram.com/">Instagram</a></li>
					<li><a href="https://www.youtube.com/">Youtube</a></li>
				</ul>
			</div>
		</div>
		<hr>
			<p class="copyright">Copyright 2020&copy;</p>
	</div>
</div>

<script src="{% static '/js/home.js' %}"></script>
</body>
</html>