{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<img src="{% static 'image/plastic.png' %}" alt="" width="100%">
			</div>
			<div class="col-2">
				<div class="form-container" style="height:300px;">
					<div class="form-btn">
						<span>Reset Password</span>
						<hr id="indicator">
					</div>					
					<form method="POST" id="reg-form">
						{% csrf_token %}
						<input type="email" placeholder="Enter your registered email" name="email" autocomplete="email" required_id="id_email" maxlength="254"/>
						<!--<input type="email" placeholder="Email" name="email"/>
						<input type="password" placeholder="New Password" name="password"/>
						<input type="password" placeholder="Confirm New Password" name="cnf_password"/>
						{% for message in messages %}
							<div style="color:red;">{{message}}</div>
						{% endfor %}-->
						<button type="submit" class="btn">Request Reset Password</button>
						<!--<a href="{% url 'account:login' %}"> Login</a>-->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}