{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<img src="{% static 'image/plastic.png' %}" alt="" width="100%">
			</div>
			<div class="col-2">
				<div class="form-container" style="height:430px;">
					<div class="form-btn">
						<span>Register</span>
						<hr id="indicator">
					</div>
					<form action="{% url 'account:register' %}" method="POST" id="reg-form">
						{% csrf_token %}
						<input type="text" placeholder="Username" name="username"/>
						<input type="email" placeholder="Email" name="email"/>
						<input type="password" placeholder="Password" name="password"/>
						<input type="password" placeholder="Confirm Password" name="password2"/>
						{% for message in messages %}
							<div style="color:red;">{{message}}</div>
						{% endfor %}
						<button type="submit" class="btn">Register</button>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
