{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<div>
					
					<div class="form-btn">
						<span>My Profile</span>
						<hr id="indicator" style="width: 80px;">
					</div>
					{% if instance.created %}
					<form action="{% url 'userprofilecreate' %}" method="POST" id="reg-form" style="width: 50%;">
						{% csrf_token %}
                        <br>
                        <label for="fname">First Name:</label>
						<input type="text" placeholder="First Name" name="fname" id="fname" value="{{instance.fname}}" readonly><br>
                        <label for="lname">Last Name:</label>
                        <input type="text" placeholder="Last Name" name="lname" id="lname" value="{{instance.lname}}" readonly><br>
                        <label for="mobilenumber">Mobile Number:</label>
						<input type="text" placeholder="Mobile Number" name="mobilenumber" id="mobilenumber" value="{{instance.mobilenumber}}" readonly><br>
                        <label for="address">Address:</label>
                        <input type="text" placeholder="Address" name="address" id="address" value="{{instance.address}}" readonly>
						<a href="{% url 'userprofileupdate' instance.id %}" class="btn" style="width: auto;">Update Profile</a>
					</form>
					{% else %}
					{% if form.instance.pk %}
					<form method="POST" id="reg-form" style="width: 50%;">
					{% else %}
					<form action="{% url 'userprofilecreate' %}" method="POST" id="reg-form" style="width: 50%;">
					{% endif %}
						{% csrf_token %}
                        <br>
                        <label for="fname">First Name:</label>
						<input type="text" placeholder="First Name" name="fname" id="fname" value="{{object.fname}}"><br>
                        <label for="lname">Last Name:</label>
                        <input type="text" placeholder="Last Name" name="lname" id="lname" value="{{object.lname}}"><br>
                        <label for="mobilenumber">Mobile Number:</label>
						<input type="text" placeholder="Mobile Number" name="mobilenumber" id="mobilenumber" value="{{object.mobilenumber}}"><br>
                        <label for="address">Address:</label>
                        <input type="text" placeholder="Address" name="address" id="address" value="{{object.address}}">
						{% if form.instance.pk %}
						<button type="submit" class="btn" style="width: auto;">Update Profile</button>
						{% else %}
						<button type="submit" class="btn" style="width: auto;">Add Profile</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
